Source: test-deb-package
Maintainer: Valentin Hoebel <valentin@xenuser.org>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: test-deb-package
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Just another test package
 This test package is not confidential.
